@import "scss/colors";
@import "scss/layout";

.spinner {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.controlContainer {
    padding-left: 2 * $unit;
    padding-right: 2 * $unit;
    margin-top: 10 * $unit;
    border-left: 0.5 * $unit solid transparent;

    &.leftBorder {
        border-color: $green-sea;
    }
}