@import "scss/layout";

$base: 4 * $unit;

.margin {
  &.top {
    &-small {
      margin-top: 1 * $base;
    }
    
    &-medium {
      margin-top: 2 * $base;
    }
  
    &-large {
      margin-top: 3 * $base;;
    }
  
    &-giant {
      margin-top: 4 * $base;
    }
  }
}